@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.date-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 7vmax;
}

.box {
  background-color: #482e1d;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 10vmax;
  height: 18vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 0.5px;
  position: relative;
}

.day {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.line {
  position: absolute;
  height: 0.5px;
  width: 100%;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}
